/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Container Styles */

.content {
  width: 100%;
  height: 100%;
  margin-left: 60px;
}

/* Navigation Tooltip Styling */

#fp-nav ul li .fp-tooltip {
  color: white;
  background-color: #222;
  padding: 10px;
}

/* Navigation Styling */

#fp-nav.fp-left {
  background-color: #ed2d34;
  left: 0;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 10px;
  width: 60px;
}

/* Product Page Styling, needed for modal */

#productPage {
  position: relative;
}

/* Coloring the navbar icons white */

#fp-nav ul li a span,
#fp-nav ul li a.active span {
  background-color: white;
  color: black;
}

/* Hide title and buttons */

#product-slider h3,
#product-slider button {
  display: none;
}

/* Product slider active item setting */
/* 
#product-slider .active h3,
#product-slider .active button {
  display: block;
} */

#product-slider .active + .owl-item h3,
#product-slider .active + .owl-item button {
  display: block;
}

/* Modal Styling */

#modal {
  display: none;
}

#modal.modal-active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid black;
  color: black;
  z-index: 100;
  width: 50vw;
  height: 50vh;
  transform: translate(-50%, -50%);
}

/* Used to prevent the carousel from stretching the screen */

.owl-carousel {
  overflow: hidden;
}

/* Used to scale down the home image. You can remove this. */

img {
  max-width: 40vw;
}

/* PLEASE START YOUR STYLES UNDERNEATH THIS */

.icons {
  display: flex;
  justify-content: flex-end;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body {
  background-image: url(./banner.jpg);
  background-size: cover;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

#homePage {
  display: flex;
  flex-direction: row;
}

.home-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-self: center;
  margin: 50px;
  width: 100%;
  padding: 15px 15px;
  justify-content: space-between;
}

.home-details p {
  font-size: 19px;
  color: #464646;
}

.premium {
  color: #464646;
  padding-bottom: 15px;
  margin: auto;
}
.title-font {
  margin: 0px 0px 8px;
}

.sneaker-1 {
  max-width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10%;
}

.btn-1 {
  text-decoration: none;
  background-color: transparent;
  color: black;
  padding: 15px 25px;
  border-radius: 50px;
  /* margin: 15px; */
  align-items: center;
  border: 3px solid black;
  font-weight: bold;
  width: fit-content;
  transition: all 0.8s;
}

.btn-text {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.btn-1:hover {
  background-color: #ed2d34;
  color: white;
}

.air-max {
  display: flex;
  flex-direction: column;
  color: #ed2d34;
  margin-top: 5px;
}

.home-heading {
  font-size: 50px;
}

.home-heading p {
  margin-left: 25px;
  font-size: 25px;
}

.icons {
  display: flex;
  margin: 10px;
  padding: 10px;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
}

.sneaker-1 {
  max-width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10%;
}

.icon-group i {
  border-radius: 50%;
  margin-right: 5px;
  padding: 15px;
}

.home-heading p {
  margin-left: 25px;
  font-size: 25px;
}

.icon-group i:hover {
  background-color: #ed2d34;
  color: white;
}

/*Testimonial Slider*/

.page-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px;
  margin: 0;
}

.page-heading {
  display: flex;
  text-align: center !important;
  color: grey;
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.page-subtitle {
  color: #ed2d34;
  font-weight: bold;
  font-family: 48xp "Montserrat", sans-serif;
  font-size: 60px;
}

.owl-carousel .owl-item img {
  height: auto;
  object-fit: cover;
  align-self: center;
  margin: 30px;
  max-width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

#productPage {
  padding: 10%;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: -moz-fit-content; */
}

.product img {
  height: 300px !important;
  width: 300px !important;
  object-fit: contain !important;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}
